.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
.DS_Store
vthings.erl
make_graph.erl
eplot.erl
eplot_main.erl
eplot_view.erl
